:root { 
--background-color: #1F1F1F; 
--text-color: white; 
--box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}

.dim {
    position: absolute;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

body { 
    display: flex;
    height: 800vh; 
    width: 100vw;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
} 

header {
    box-shadow: var(--box-shadow);
    display: flex;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    align-items: center;
    justify-content: center;
    border-radius: 100px 5px 100px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px;
    align-items: center;
    background-image: url(image/francesco-ungaro-ZzXN5e59AJE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    & .dim {
        box-shadow: var(--box-shadow);
        position: absolute;
        inset: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px 5px 100px 5px;
        width: auto;
        height: auto;   
        overflow: 0;
        & p {
            font-size: 3em;
        }
        & div {
            font-size: 0.4em;
            position: absolute;
            bottom: 20px;
            left: 30px;
        }
    }
    & h1 {
        margin: 60px;
        height: auto;
        font-size: 10em;
        text-shadow: var(--box-shadow);
    }
}    

aside {
display: flex;
justify-content: center;
position: sticky;
position: -webkit-sticky;
height: 100vh;
width: 400px;
top: 0;
padding: 5px;
border: white 1px;
}    

