:root {
    --background-color: #1C1E1F;
    --text-color: #E8E6E2;
    --primarty-color: #64287E;
    --secondary-color: #80217F;
    --third-color: #A53C65;
    --fourth-color: #811757;
    --small-font-size: 13px;
    --big-font-size: 37px;
    --bigger-font-size: 40px;
    --normal-font-size: 16px;
    --normaler-font-size: 24px; 
    --biggest-font-size: 50px;
    --average-weight: 600;
    --skinny-weight: 400;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 300vh;
}


* {
    color: var(--text-color);
}


.selector {
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: row;
    border: 0;
    height: 56px;
    width: 100vw;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-around;
    font-weight: var(--skinny-weight);
}

.selections2 {
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    height: 56px;
    width: auto;
    & span {
        padding: 15px;
        align-items: center;
        height: 20px;
        width: auto;
        display: inline-flex;
    }
}

.selections {
    height: 56px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    & span {
        padding: 15px;
        height: 20px;
        align-items: center;
        width: auto;
        display: inline-flex;
    }
}

.rnicrosoft {
    padding: 15px;
    display: flex;
    align-items: center;
    width: 108px;
    height: 23px;
}
.rnicrosoft img {
    height:23px;
    width: 108px;
}

.down-arrowhead {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.down-arrowhead div {
    background-color: var(--text-color);
    height: 18px;
    width: 9px;
    mask-image: url(image/down-arrow.png);
    mask-repeat: no-repeat;
    mask-position: center;
}

.searcher {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.searcher div {
    background-color: var(--text-color);
    height: 18px;
    width: 16px;
    mask-image: url(image/search.png);
    mask-repeat: no-repeat;
    mask-position: center;
}

.cart {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.cart div {
    background-color: var(--text-color);
    height: 18px;
    width: 16px;
    mask-image: url(image/shopping-cart.png);
    mask-repeat: no-repeat;
    mask-position: center;
}

.sign-in {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.sign-in div {
    background-color: var(--text-color);
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    mask-image: url(image/sign-in.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: 10px;
}






.event {
    display: flex;
    height: 284px;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-image: url(image/background.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.event1 {
    display: flex;
    flex-direction: column;
    padding: 48px;
    justify-content: start;
    width: 776.406px;
    margin: 0;
    height: 164px;
    overflow-y: visible;
}

.event1 h1 {
    font-size: var(--biggest-font-size);
    margin-top: 0;
    padding: 0;
    margin-bottom: 24px;
}
.event1 p {
    font-size: var(--normal-font-size);
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    font-weight: var(--skinny-weight);
}
.event1 button {
    margin-top: 15px;
    width: 107.188px;
    height: 40px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: var(--average-weight);
    border-radius: 1px;
    cursor: pointer;
    margin: 0;
}
.event2 {
    width: 436.188px;
    background-image: url(image/event-2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.black-friday-deals {
    background-color: var(--background-color);
    width: 100vw;
    height: 144px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.black-friday-deals div {
    width: 196.312px;
    height: 72px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    margin-left: 24px;
}
.surface {
    overflow: none;
    display: flex;
    flex-direction: column;
    & image {
        aspect-ratio: 1/1;
        height: 40px;
        width: auto;
        overflow:none ;
    }
}

