.two-columns {
    column-count: 2;
    column-gap: 40px;

}

style {

    h1,
    h2,
    h3,
    h4+p {
        margin-top: 32px;
    }
}

.animal {
    position: absolute;
    top: 80px;
    right: 150px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    padding: 10px;
    width: 100%
}

div.card {
    display: flex;
    animation: changing 10s infinte alternate;
    width: 500px;
    height: 200px;
    animation: changing 10s infinite;
}

div.card p {
    color: white;
    justify-content: left;
}


@keyframes changing {
    0% {
        background-color: white;
    }

    25% {
        background-color: gray;
        border-color: transparent;
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: gray;
        border-color: transparent;
    }

    100% {
        background-color: white;
        border-color: gray;
    }
}

.header {
    color: white;
    font-size: 32px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: right;
}



body {
    background-color: black;
}

p {
    color: white;
    margin-top: "400"
}

h1,
h2,
h3,
h5 {
    margin-bottom: "800";
    color: white;
}


.card-header {
    color:white
}


footer{
    border: 5px;
}